
<h3>Informações da entidade '{{selectedEntity}}' com id: {{idSelected}} na revisão {{history.revision}}</h3>

<p>
  Veja a seguir informações sobre o registro no histórico selecionado
</p>

<div class="row">
  <div class="col-md-12">
      <b>Tipo da Revisão:</b> {{history.revisionType | revisionType}}
  </div>

  <div class="col-md-12">
    <b>Data de Modificação: </b>{{history.date| date : "dd/MM/yyyy HH:mm:ss"}}
  </div>

  <div class="col-md-12">
    <b>Author: </b>{{history.author}}
  </div>
</div>

<div class="row" *ngIf="history.object != null">
  <table class="table table-striped mt-5">
    <tr *ngFor="let key of history.object | keys">
      <td>{{key}}</td>
      <td>{{history.object[key]}}</td>
    </tr>
  </table>
</div>

<div class="row mt-5">
  <back-button></back-button>
  <a href="javascript:void(0)" class="btn btn-danger ml-1" data-toggle="modal" data-target="#confirmModal">
    <i class="fa fa-repeat"></i> Reverter
  </a>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>O registro irá ser revertido para a revisão {{history.revision}}.
          <br/>Deseja continuar?</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-secondary" data-dismiss="modal">Fechar</a>
        <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal" (click)="revert()">Confirmar</a>
      </div>
    </div>
  </div>
</div>
