<div class="container">


  <div class="card main-card">
    <div class="card-block">
      <!--<h4 class="card-title">Card title</h4>-->
      <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
        <h2 class="form-signin-heading">Auditoria</h2>
        <h6 class="text-center">Faça Login para continuar</h6>

        <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
          O Nome de usuário é obrigatório
        </div>

        <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
          A Senha é obrigatória
        </div>

        <label for="username" class="sr-only">Nome de Usuário</label>
        <input type="text" #user="ngModel" name="username" id="username" [(ngModel)]="username" class="form-control" placeholder="Usuário" required autofocus="">



        <label for="password" class="sr-only">Senha</label>
        <input #pass="ngModel" type="password" name="password" [(ngModel)]="password" id="password" class="form-control" placeholder="Senha" required>

        <button [disabled]="!loginForm.form.valid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>
    </div>
  </div>



</div>
